@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max, $units: px) {
    $k: ($f-max - $f-min)/($v-max - $v-min);
    $b: $f-min - $k * $v-min;

    $b: $b + $units;

    @return calc( #{$k} * 100vw + #{$b} );
}

@function convertAlignItemsTo($val,$type) {
    @if($type=='ms') {
        @if($val=='flex-end') {
            @return 'end';
        }
    }

    @if($type='webkit') {
        @if($val=='flex-end') {
            @return 'end';
        }
    }

    @return $val
}

// Авто-вычесление rem из px
@function rem($pxsize) {
    @return ($pxsize/$fontSize)+rem;
}
