// color variables
$primaryColor: #1976d2;
$primaryDarkColor: #0D47A1;
$primaryLightColor: #2196F3;
$primaryTextColor: #FFFFFF;
$accentColor: #FFC107;
$accentDarkColor: #FFA000;
$accentLightColor: #FFECB3;
$accentTextColor: #000000;
$borderColor: #EAEAEA;
$bodyBgColor: #FFFFFF;
$grayBgColor:#757575;
$hoverBgColor:#e8e8e8;
$hoverTextColor:#000000;
$inputAccentColor: #006EFC;
$inputBorderColor: #BDBDBD;
$inputInvalidBorderColor: #e62a10;
$inputErrorTextColor: $inputInvalidBorderColor;
$inputValidBorderColor: #4CAF50;
$inputErrorTextColor: $inputValidBorderColor;
$errorMessageFontSize: 11px;

//button variables
$btnBgFacebook: #4267B2;
$btnBgInstagram: #FAFAFA;
$btnBgGoogle: #FFFFFF;

// font variables
$fontSize: 14;
$fontContent:"Roboto",
"Helvetica Neue",
sans-serif;
$fontHeading:"Gotham Pro",
sans-serif;
$lineHeight:1.5em;
$textColor:#424242;
$textLightColor:#FFFFFF;
$textBlackColor:#252525;
$textSecondaryColor:#757575;

// misc variables
$borderRadius:5px;
$dividerBlackColor: #353535;
$dividerColor:#eaeaea;
$dividerLightColor:#f8f8f8;
$iconWidth:24px;
$iconHeight:24px;
$iconFontSize:32px;
$transitionDuration:.3s;
$transition-animation: .65s;