// JUST SIMPLE IMPORT SCSS-FILES
@import "../variables";
@import "../fonts";
@import "../mixins";
@import "../functions";
@import "../primeflex";
@import "../primeicons";
@import "../utils";
@import "../default";
@import "../login";
@import "../forms";
@import "../helpers";

// Custom styles
.error-page {

  .error-img {
    max-width: 100%;
  }

  .error-content {
    padding: rem(100) rem(30) rem(30);
    max-width: rem(670);

    &__title {
      margin-bottom: 1.11em;
      font-family: $fontHeading;
      font-size: 36px;
      font-weight: bold;
      color: $textBlackColor;

      @include _560 {
        font-size: 26px;
      }
    }

    &__description {
      font-size: 16px;
      color: $textSecondaryColor;

      & p+p {
        margin-top: 1.4em;
      }

      @include _560 {
        font-size: 14px;
      }
    }

    &__form {
      padding: rem(40) 0;

      .md-inputfield {
        margin-bottom: rem(40);

        .comment-input {
          width: 100%;
        }

        .email-input {
          width: 50%;

          @include _560 {
            width: 100%;
          }
        }

        .ui-inputtext {
          height: rem(30);
          caret-color: $inputAccentColor;
        }

        &>label {
          left: rem(16);
        }
      }

      button {
        width: 50%;
        height: 40px;
        font-size: 14px;
        color: $textLightColor;
        background-color: $primaryColor;
        cursor: pointer;
        outline: none;
        @include border-radius($borderRadius);
        @include transition(all $transitionDuration ease-in-out);

        @include _560 {
          width: 100%;
        }
      }
    }

    @include _979 {
      padding-top: rem(50);
      padding-bottom: 0;
    }
  }

  .social-block {
    padding: 6% 0 2%;

    &__title {
      margin-bottom: 0.83em;
      font-family: $fontHeading;
      font-size: 24px;
      color: $textBlackColor;
    }

    .social-btn__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .social-btn {
        padding: 0;
        position: relative;
        border: none;
        font-size: rem(14);
        color: $textLightColor;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        outline: none;
        @include border-radius($borderRadius);
        @include button-shadow();

        &:hover {
          @include button-hover-shadow();
        }

        &+.social-btn {
          margin-left: 20px;

          @include _560 {
            margin-left: 0;
            margin-top: 20px;
          }
        }

        .social-btn_icon {
          padding: 12px 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border-right: 1px solid rgba(#000000, .1);
        }

        .social-btn_descr {
          padding: 0.71em 1.42em;
          font-size: rem(14);
          line-height: 140%;
        }

        &.btn-facebook {
          background-color: $btnBgFacebook;
        }

        &.btn-telegram {
          background-color: #179CDE;
        }

      }

      @include _560 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }

      @include _979 {
        padding-top: 0;
      }
    }

    @include _560 {
      padding: 0 rem(30);
    }
  }
}