// JUST SIMPLE IMPORT SCSS-FILES
@import "../variables";
@import "../fonts";
@import "../mixins";
@import "../functions";
@import "../primeflex";
@import "../primeicons";
@import "../utils";
@import "../default";
@import "../login";
@import "../forms";
@import "../helpers";

// Custom styles
.afterfix-page{

	.afterfix-block{
		margin: 80px auto 0;
		max-width: 800px;

		&__img{
			width: 100%;
			max-height: 250px;
			border: 1px solid $borderColor;
			border-radius: $borderRadius;

			&>img{
				display: block;
				max-width: 100%;
				height: auto;
			}
		}

		.content-item {
			margin-bottom: 20px;
		}

		&__content{
			padding: 40px;

			&-title{
				font-family: $fontHeading;
				font-size: 36px;
				line-height: 34px;
				color: $textBlackColor;
			}

			&-description p{
				font-size: 18px;
				line-height: 140%;
				color: $textDescriptionColor;
			}

			&-steps{
				border-radius: $borderRadius;
				-webkit-box-shadow: 0px 8px 15px rgba(119, 119, 119, 0.15);
								box-shadow: 0px 8px 15px rgba(119, 119, 119, 0.15);
								
				.afterfix-block__content-step{
					padding: 14px 20px;
					border-bottom: 1px solid $borderColor;

					.afterfix-step{
						
						&__title{
							font-family: Roboto Medium;
							font-style: normal;
							font-weight: 500;
							font-size: 20px;
							line-height: 26px;
							color: #252525;
						}

						&__description{
							font-family: Roboto;
							font-style: normal;
							font-weight: normal;
							font-size: 16px;
							line-height: 140%;
							color: #757575;
						}

						&__list{
							padding-left: 20px;

							li{
								padding: 7px 0;
							}
						}
					}
				}
			}

		}
	}
}