// Стилизация шапки формы
.auth-form_header {
  margin-bottom: rem(40);
  padding: rem(40) rem(100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: $primaryTextColor;
  background-color: $primaryColor;
  border-radius: $borderRadius;

  @include _560 {
    padding: rem(20) rem(47);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-title {
    margin-right: rem(40);
    font-family: $fontHeading;
    font-size: rem(36);

    @include _1024 {
      font-size: rem(32);
    }

    @include _767 {
      font-size: rem(24);
    }

    @include _560 {
      margin-bottom: rem(8);
      margin-right: 0;

    }

  }

  .form-logo {
    @include _979 {
      max-width: rem(132);
    }
  }
}