// JUST SIMPLE IMPORT SCSS-FILES
@import "../variables";
@import "../fonts";
@import "../mixins";
@import "../primeflex";
@import "../primeicons";
@import "../icons";
//@import "../utils";
@import "../default";

// Custom styles
.landing-page {
  overflow: hidden;

  .container {
    margin: 0 auto;
    max-width: 1170px;

    @include _1024 {
      padding: 0 15px;
    }
  }

  .section-hero {
    padding-top: 90px;
    padding-bottom: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #C6F1ED;
    position: relative;

    @include _767 {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .section-content {
      position: relative;
      z-index: 3;

      @include _600 {
        text-align: center;
      }

      .page-title {
        margin-bottom: 32px;
        font-family: $fontHeading;
        font-weight: bold;
        font-size: 88px;
        line-height: 84px;
        text-transform: uppercase;
        color: $textBlackColor;

        @include _767 {
          margin-bottom: 20px;
          font-size: 70px;
          line-height: 66px;
        }

        @include _560 {
          font-size: 50px;
          line-height: 47px;
        }
      }

      .subtitle {
        margin-bottom: 80px;
        font-family: $fontContent;
        font-size: 24px;
        color: $textDescriptionColor;

        @include _767 {
          margin-bottom: 50px;
        }

        @include _560 {
          margin-bottom: 30px;
          font-size: 18px;
        }
      }

      button.btn-signup.ui-button {
        padding: 8px 80px;
        color: $primaryTextColor;
        text-align: center;
        background: #1E554E;
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
          0px 0px 2px rgba(0, 0, 0, 0.14),
          0px 1px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
          0px 0px 2px rgba(0, 0, 0, 0.14),
          0px 1px 3px rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: $borderRadius;
        cursor: pointer;
        -webkit-transition: $transitionDuration;
        transition: $transitionDuration;

        &.ui-state-default.ui-button-info:hover {
          background-color: #00796b;
        }

        &.ui-state-default.ui-button-info:focus {
          outline: none;
        }

        .ui-button-text {
          font-family: $fontContent;
          font-weight: bold;
          font-size: 14px;
          line-height: 140%;
          text-align: center;
          color: #FFFFFF;
        }
      }
    }

    .bg-img {
      margin-left: 30px;

      @include _600 {
        display: none;
      }

      &>img {

        @include _1024 {
          max-width: 600px;
        }

        @include _979 {
          max-width: 500px;
        }

        @include _767 {
          position: absolute;
          bottom: 50px;
          right: 0;
          max-width: 300px;
          z-index: 1;
        }
      }
    }
  }

  .section-features {
    padding-top: 160px;
    padding-bottom: 190px;

    @include _1024 {
      padding-top: 120px;
      padding-bottom: 135px;
    }

    @include _767 {
      padding-top: 80px;
      padding-bottom: 95px;
    }

    .features-items {
      margin-right: 100px;

      @include _1024 {
        margin-right: 50px;
      }

      @include _979 {
        margin-right: 30px;
      }

      @include _767 {
        margin-right: 0;
      }

      .features-item {
        padding: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        border-radius: $borderRadius;
        -webkit-transition: $transitionDuration;
        transition: $transitionDuration;
        cursor: pointer;

        &:hover {
          background: #039588;
        }

        &:hover .features-item__text {
          color: #F2F2F2;
        }

        @include _979 {
          padding: 16px;
        }

        @include _767 {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          text-align: center;
        }

        &.active {
          background: #039588;

          .features-item__text {
            color: #F2F2F2;
          }
        }

        &__img {
          margin-right: 32px;
          border-radius: $borderRadius;

          @include _767 {
            margin-right: 0;
            margin-bottom: 16px;
          }

          .feature-img {
            border-radius: $borderRadius;
          }
        }


        &__title {
          margin-bottom: 16px;
          font-family: $fontHeading;
          font-weight: bold;
          font-size: 32px;
          line-height: 100%;
          text-transform: uppercase;
          color: $textBlackColor;

          @include _979 {
            font-size: 24px;
          }
        }

        // .features-item__text

        &__text {
          font-family: $fontContent;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: $textDescriptionColor;
          -webkit-transition: $transitionDuration;
          transition: $transitionDuration;
        }

      }
    }

    .section-info {

      @include _767 {
        margin-top: 35px;
      }

      &__title {
        font-family: $fontHeading;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        vertical-align: top;
        color: $textBlackColor;

        @include _767 {
          text-align: center;
        }
      }

      &__description {
        font-family: $fontContent;
        font-weight: 400;
        font-size: 16px;
        color: $textSecondaryColor;

        &>p {
          padding-top: 32px;

          &+p {
            padding-top: 22px;
          }
        }
      }
    }
  }

  .section-about {
    padding-top: 247px;
    padding-bottom: 247px;
    background: linear-gradient(105.74deg, #F2F2F2 0.43%, #BCEBE6 99.41%);
    position: relative;

    @include _1024 {
      padding-top: 85px;
    }

    @include _767 {
      padding-top: 70px;
    }

    .section-content {
      position: relative;
      z-index: 3;

      .section-title {
        font-family: $fontHeading;
        font-weight: bold;
        font-size: 56px;
        color: $textBlackColor;

        @include _767 {
          font-size: 46px;
        }
      }

      .section-description {
        padding-bottom: 32px;
        font-family: $fontContent;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $textSecondaryColor;

        &>p {
          padding-top: 32px;

          &+p {
            padding-top: 22px;
          }
        }
      }
    }

    .section-img {
      margin-left: 30px;
      position: absolute;
      bottom: 120px;
      right: 0;

      @include _1024 {
        max-width: 600px;
        bottom: 0;
      }

      @include _979 {
        max-width: 550px;
      }

      @include _767 {
        max-width: 450px;
      }
    }
  }

  .section-pricing {
    padding: 160px 0;

    @include _1024 {
      padding: 120px 0;
    }

    @include _767 {
      padding: 80px 0;
    }

    .section-title {
      font-family: $fontHeading;
      font-weight: bold;
      font-size: 56px;
      text-align: center;
      color: $textBlackColor;

      @include _767 {
        font-size: 45px;
      }
    }

    .pricing-plans {
      margin-top: 56px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      @include _767 {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    }

    .pricing-plan {
      max-width: 312px;
      border-radius: $borderRadius;
      overflow: hidden;

      &+.pricing-plan {
        margin-left: 30px;

        @include _767 {
          margin-left: 0;
          margin-top: 30px;
        }
      }

      &__header {
        padding: 32px;
        text-align: center;

        &-info {
          margin-bottom: 5px;
          font-family: $fontContent;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          letter-spacing: 0.16em;
          text-transform: uppercase;
          color: #E0E0E0;
        }

        &-title {
          font-family: $fontHeading;
          font-weight: bold;
          font-size: 40px;
          line-height: 38px;
          text-transform: capitalize;
          color: $textBlackColor;
        }

        &-price {
          margin-top: 32px;
          @extend .pricing-plan__header-title;
          font-size: 56px;
          color: #FFFFFF;

        }

        .pricing-text {
          margin-top: 8px;
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
          color: #E0E0E0;
        }
      }

      &__body {
        padding: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .pricing-plan__features {
          margin: 0 auto;
          padding: 0;
          padding-bottom: 32px;
          text-align: left;

          .pricing-plan__feature {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: $textSecondaryColor;

            &+.pricing-plan__feature {
              margin-top: 16px;
            }

            &>i {
              margin-right: 8px;
              vertical-align: bottom;
              color: #1E554E;
            }
          }
        }

        button.btn-order.ui-button {
          padding: 8px 80px;
          color: $primaryTextColor;
          text-align: center;
          background: #039588;
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
            0px 0px 2px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
            0px 0px 2px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.2);
          border: none;
          border-radius: $borderRadius;
          cursor: pointer;
          -webkit-transition: $transitionDuration;
          transition: $transitionDuration;

          &.ui-state-default.ui-button-info:hover {
            background-color: #00796b;
          }

          &.ui-state-default.ui-button-info:focus {
            outline: none;
          }

          .ui-button-text {
            font-family: $fontContent;
            font-weight: bold;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: #FFFFFF;
          }
        }
      }

      &.standart {

        .pricing-plan__header {
          background: #039588;
        }

        .pricing-plan__body {
          background: #F2F2F2;
        }
      }

      &.professional {

        .pricing-plan__header {
          background: #F2F2F2;

          &-info {
            color: $textSecondaryColor;
          }

          &-title {
            color: $textBlackColor;
          }

          &-price {
            color: #1E554E;
          }

          .pricing-text {
            color: $textDescriptionColor;
          }
        }

        .pricing-plan__body {
          background: #1E554E;

          .pricing-plan__feature {
            color: #E0E0E0;

            &>i {
              color: #039588;
            }
          }

          button.btn-order.ui-button {
            background-color: #fff;

            &.ui-state-default.ui-button-info:hover {
              background-color: #E2E2E2;
            }

            .ui-button-text {
              color: #1E554E;
            }
          }
        }
      }
    }
  }

  .section-howto {
    padding: 120px 0;
    background-color: #F2F2F2;

    @include _1024 {
      padding: 70px;
    }

    @include _767 {
      padding: 60px;
    }

    @include _560 {
      padding: 50px 0;
    }

    .section {

      &-video {
        margin-right: 69px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: $borderRadius;
        overflow: hidden;
        position: relative;

        @include _1024 {
          margin-right: 30px;
        }

        @include _767 {
          margin-right: 0;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background-image: url('../../img/landing/video-playBtn.png');
          background-size: 100% 100%;
          width: 80px;
          height: 80px;
          z-index: 999;
        }

        .video-controls {

          button {
            padding: 54px 13px;
            padding-right: 16px;
            display: block;
            text-align: center;
            vertical-align: middle;
            background-color: #039588;
            border: none;
            -webkit-transition: $transitionDuration;
            transition: $transitionDuration;

            /* @include _560 {
              max-height: 117px;
              padding: 18px 3px;
              padding-right: 3px;
            } */

            &:hover {
              background-color: #1E554E;
              cursor: pointer;
            }

            &:focus {
              outline: none;
            }

            &.next-video {
              border-bottom: 2px solid rgba($color: $textBlackColor, $alpha: 0.12);
            }

            &>i {
              color: $textDescriptionColor;
            }
          }
        }

        video {
          display: block;

          @include _560 {
            //min-width: 100%;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      &-title {
        font-family: $fontHeading;
        font-weight: bold;
        font-size: 56px;
        color: $textBlackColor;

        @include _1024 {
          font-size: 50px;
        }

        @include _979 {
          font-size: 37px;
        }

        @include _560 {
          font-size: 40px;
        }
      }

      &-description {
        font-weight: 400;
        font-size: 16px;
        color: $textDescriptionColor;

        &>p {
          padding-top: 32px;

          &+p {
            padding-top: 22px;
          }
        }
      }
    }

    .section-content {

      @include _767 {
        margin-top: 30px;
      }
    }
  }
}