// JUST SIMPLE IMPORT SCSS-FILES
@import "../variables";
@import "../fonts";
@import "../mixins";
@import "../functions";
@import "../primeflex";
@import "../primeicons";
@import "../icons";
@import "../utils";
@import "../default";
@import "../login";
@import "../forms";

// Custom styles
.personal-account-page {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 1170px;
  background-color: #fff;

  @include _1170 {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }

  section {
    padding-bottom: 32px;

    @include _600 {
      padding-bottom: 20px;
    }
  }

  .section__bordered {
    border-bottom: 1px solid #F2F2F2;
  }

  .user {

    .user__img {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;

      @include _767 {
        margin: auto;
        margin-bottom: 10px;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 32px;
        background-color: rgba(255, 255, 255, 0.26);
        cursor: pointer;
      }

      &>i.add-photo {
        position: absolute;
        bottom: 10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        color: #039588;
        z-index: 3;
        cursor: pointer;
      }

      &>img {
        max-width: 100%;
      }
    }

    .user__info {
      padding: 5px 0;
      height: 170px;
      position: relative;

      @include _767 {
        display: inline;
      }

      .user__info--header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        @include _600 {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          text-align: center;
        }

        .username__edit {
          margin-bottom: 16px;

          .user__name {
            margin-right: 24px;
            display: inline-block;
            font-family: $fontHeading;
            font-size: 36px;
            text-transform: capitalize;
            color: $textBlackColor;

            @include _767 {
              margin-right: 12px;
              font-size: 28px;
            }

            @include _600 {
              font-size: 18px;
            }
          }

          &>i {
            font-size: 24px;
            color: #1976D2;
            cursor: pointer;

            @include _600 {
              font-size: 18px;
            }
          }
        }

        .cta-button {
          margin-left: auto;

          @include _600 {
            margin: auto;
            margin-bottom: 16px;
          }

          button {
            padding: 10px 40px 11px;
            height: 40px;
            font-family: $fontContent;
            font-weight: normal;
            font-size: 14px;
            text-align: center;
            white-space: nowrap;
            color: #ffffff;
            background: #039588;
            outline: none;
            border: none;
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
              0px 0px 2px rgba(0, 0, 0, 0.14),
              0px 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
              0px 0px 2px rgba(0, 0, 0, 0.14),
              0px 1px 3px rgba(0, 0, 0, 0.2);
            border-radius: $borderRadius;
            cursor: pointer;

            &:hover {
              background-color: #00796b;
            }


            &>i {
              margin-right: 12px;
              font-size: 24px;
              vertical-align: middle;
            }
          }
        }
      }

      .user__nickname {
        margin-bottom: 16px;
        font-family: $fontHeading;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: $textDescriptionColor;

        @include _767 {
          font-size: 20px;
        }

        @include _600 {
          font-size: 16px;
        }
      }

      .user__checklists {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        @include _767 {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }

        .checklists-info__item {
          //max-width: 325px;
          -ms-flex-preferred-size: 325px;
          flex-basis: 325px;
          padding: 4px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          background: $bodyBgColor;
          -webkit-box-shadow: 0px 8px 15px rgba(119, 119, 119, 0.15);
          box-shadow: 0px 8px 15px rgba(119, 119, 119, 0.15);
          border-radius: 27px;
          cursor: pointer;


          &+.checklists-info__item {
            margin-left: 12px;

            @include _767 {
              margin-left: 6px;
            }
          }

          @include _767 {
            margin: 6px;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
          }

          &-count {
            padding: 13px 16px 11px;
            font-family: $fontHeading;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 23px;
            border: 2px solid #FFFFFF;
            border-radius: 23px;
            -webkit-box-shadow: 0px 8px 15px rgba(119, 119, 119, 0.15);
            box-shadow: 0px 8px 15px rgba(119, 119, 119, 0.15);

            @include _767 {
              font-size: 18px;
            }

            @include _600 {
              font-size: 14px;
            }
          }

          &-descr {
            padding: 0 16px;
            font-family: $fontHeading;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 15px;
          }
        }

        .checklists-info__passed {

          .checklists-info__item-count {
            color: #43C6AC;
            background-color: #DBF5E5;
            @extend .checklists-info__item-count;
          }

          .checklists-info__item-descr {
            color: #43C6AC;
            @extend .checklists-info__item-descr;
          }
        }

        .checklists-info__created {

          .checklists-info__item-count {
            color: #F4A967;
            background: #FFF6D9;
            @extend .checklists-info__item-count;
          }

          .checklists-info__item-descr {
            color: #F4A967;
            @extend .checklists-info__item-descr;
          }
        }

        .checklists-info__saved {

          .checklists-info__item-count {
            color: #886CFF;
            background: #D7CDFF;
            @extend .checklists-info__item-count;

          }

          .checklists-info__item-descr {
            color: #886CFF;
            @extend .checklists-info__item-descr;
          }

        }
      }
    }
  }

  .section__bordered {
    font-family: $fontHeading;


    .section__title {
      margin-bottom: 16px;
      font-weight: bold;
      font-size: 24px;
      color: $textBlackColor;

      @include _600 {
        font-size: 20px;
      }
    }

    .section__content {
      padding: 12px;
      font-weight: normal;
      font-size: 18px;
      color: $textDescriptionColor;
      border: 1px solid #EAEAEA;
      border-radius: $borderRadius;

      @include _600 {
        font-size: 16px;
      }
    }
  }

  .user__accounts {
    margin-top: 56px;
    font-family: $fontHeading;

    @include _767 {
      margin-top: 32px;
    }

    @include _600 {
      margin-top: 16px;
    }

    .section__content {
      padding: 0;
      font-weight: normal;
      font-size: 18px;
      color: $textSecondaryColor;
      border: none;

      @include _600 {
        font-size: 16px;
      }
    }

    .accounts__buttons {
      margin-top: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;

      @include _767 {
        margin-top: 25px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }


      button {
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
          0px 0px 2px rgba(0, 0, 0, 0.14),
          0px 1px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
          0px 0px 2px rgba(0, 0, 0, 0.14),
          0px 1px 3px rgba(0, 0, 0, 0.2);
        outline: none;
        border: none;
        border-radius: $borderRadius;
        cursor: pointer;
        -webkit-transition: $transitionDuration;
        transition: $transitionDuration;

        &+button {
          margin-left: 20px;

          @include _767 {
            margin: 6px;
          }
        }

        @include _767 {
          margin: 6px;
          width: 100%;
        }

        .btn-icon {
          padding: 12px 21px;
          width: 58px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
            background-color: rgba(#000000, .1);
          }
        }

        .btn-descr {
          padding: 10px 30px 10px 20px;
          font-family: Roboto;
          font-weight: normal;
          font-size: 14px;
          line-height: 140%;
          text-align: left;
          white-space: nowrap;
        }

        &.btn-facebook {
          color: $textLightColor;
          background-color: $btnBgFacebook;

          &:hover {
            background-color: #34528D;
          }
        }

        &.btn-instagram {
          background-color: $btnBgInstagram;

          &:hover {
            background-color: #E0E0E0;
          }
        }

        &.btn-google {
          background-color: $btnBgGoogle;

          &:hover {
            background-color: #E6E6E6;
          }
        }
      }

      .connected {

        .btn-icon {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .btn-descr {
          font-weight: bold;
        }
      }

      .btn-disconnect {
        display: block;
        margin-top: 4px;
        font-size: 12px;
        line-height: 140%;
        font-weight: normal;
        text-decoration: none;
        color: $textLightColor;
      }

    }
  }

  .checklist__cards {
    margin-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @include _767 {
      margin-top: 26px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .checklist-card {
      padding-left: 12px;
      padding-right: 8px;
      font-family: $fontHeading;
      font-size: 14px;
      color: $primaryTextColor;
      border-radius: $borderRadius;
      position: relative;
      overflow: hidden;

      &+.checklist-card {
        margin-left: 30px;

        @include _767 {
          margin-left: 7px;
        }
      }

      @include _767 {
        margin: 7px;
        width: 100%;
      }

      &.checklists-passed {
        background: -webkit-gradient(linear, left top, right top, from(#43C6AC), to(#8EDEAD));
        background: linear-gradient(90deg, #43C6AC 0%, #8EDEAD 100%);

        &:hover .checklist-card__link {
          display: block;
          color: #43C6AC;
        }
      }

      &.checklists-created {
        background: -webkit-gradient(linear, left top, right top, from(#F4A967), to(#FFD147));
        background: linear-gradient(90deg, #F4A967 0%, #FFD147 100%);

        &:hover .checklist-card__link {
          display: block;
          color: #F4A967;
        }
      }

      &.checklists-saved {
        background: -webkit-gradient(linear, left top, right top, from(#7474BF), to(#348AC7));
        background: linear-gradient(90deg, #7474BF 0%, #348AC7 100%);

        &:hover .checklist-card__link {
          display: block;
          color: #7474BF;
        }
      }

      .checklist-card__inner {
        margin-top: 11px;

        .checklist-card__header {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;

          .checklist-card__title {
            margin-right: 8px;
            font-size: 14px;
          }

          .checklist-card__percentage {
            padding: 4px;
            font-weight: bold;
            background-color: rgba($color: #000000, $alpha: .16);
            border-radius: $borderRadius;
          }
        }

        .checklist-card__counter {
          margin-top: 4px;
          margin-bottom: 57px;
          display: block;
          max-width: 50%;
          font-weight: bold;
          font-size: 16px;
          line-height: 15px;
        }

      }

      .checklist-card__chart {
        max-width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .checklist-card__link {
        padding: 5px 8px 3px;
        display: none;
        position: absolute;
        bottom: 7px;
        right: 8px;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        background-color: #fff;
        border-radius: $borderRadius;
      }
    }
  }
}