// JUST SIMPLE IMPORT SCSS-FILES
@import "../variables";
@import "../fonts";
@import "../mixins";
@import "../primeflex";
@import "../forms";
//@import "../primeicons";
//@import "../icons";
//@import "../utils";
@import "../default";

// Custom styles
.login {
  max-width: 845px;
  padding: 22px 0 60px;
  background: #FFFFFF;
  border: 3px solid #0F71D4;
  box-sizing: border-box;
  box-shadow: 0px 0px 100px rgba(15, 113, 212, 0.5);
  border-radius: 15px;
  overflow: hidden;
}